@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

body{
    font-family: 'Work Sans','Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
}

#title{
    text-align:center;
}

#miPlazaLayout{
    background-color: rgba(153, 152, 152, 0.363);
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    
}

#first-row{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    width: 100%;
    height: 30vh;
    margin-bottom: 30px;
}

#first-colum{
    width: 50%;
    background-color: rgba(127, 255, 212, 0.63);
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: baseline;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
    
}

#second-colum{
    background-color: rgb(206, 222, 135);
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding: 10px;

}

#second-row{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    width: 100%;
}


#row-plaza{
    display: flex;
    flex-direction: column;
}

#row-sky{
    background-color:rgba(127, 251, 255, 0.63);
    width: 60vw;
    height: 35vh;
    z-index: 1;
}

#row-ground{
    background-color: burlywood;
    width: 60vw;
    height: 40vh;
    z-index: 2;
}

img{
    width: 5vw;
    height: 11vh;
    z-index: 3;
}

.small{
    width: 3vw;
    height: 6vh;
}